<div class="container">
  
  <ng-container  *ngIf="loading; else elseTemplate">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="row">
      <div class="col-4 border" id="add-location">
        <h2>Ajoutez un local </h2>
        <form #f="ngForm" (submit)="addLocation(f)" >
          <mat-form-field appearance="fill">
            <mat-label>Nom local</mat-label>
            <input matInput
            placeholder="Name of location"
            ngModel
            name="location_name"
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description local</mat-label>
            <textarea matInput
            class="form-control"
            placeholder="Description"
            ngModel
            maxlength="400"
            style="resize: none;"
            name="location_description"></textarea>
          </mat-form-field>
          <br>
          <button color="primary" mat-raised-button type="submit" > Ajouter </button>
        </form>
      </div>
      <div class="col-8 list-locations" >
        <app-location-details [locationsList] ="locations"></app-location-details>
      </div>
    </div>
  </ng-template>
</div>