/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background: url(../src/assets/background.png) repeat-y center center / 100% auto;
    min-height: 100vh;
}